{% extends '@FOSUser/layout.html.twig' %}

{% block body %}

    <div>
        {% for class in classes %}
            Klasa: <a href="{{ path('class_info', {'id': class.id}) }}"> {{ class.name }}</a><br>

            Wychowawca:
            <a href="{{ path('show_user_info', {'id': class.educator.id}) }}">{{ class.educator.firstname }} {{ class.educator.lastname }}</a><br><br>
        {% endfor %}
    </div>
{% endblock %}